# Spark DataFrame Groupby and Aggregate Functions

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("eggs").getOrCreate()

In [6]:
df = spark.read.csv("Data/sales_info.csv", inferSchema= True, header = True)

In [7]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [8]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

### Groupby

In [9]:
df.groupBy("Company") # object in the memory

In [14]:
print(df.groupBy("Company").mean().show())
print(df.groupBy("Company").max().show())
print(df.groupBy("Company").count().show())

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

None
+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

None
+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

None

## aggregation

In [17]:
df.agg({"Sales": "max"}).show() # all the sales in dataframe

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [19]:
group_data = df.groupby("company")
group_data.agg({"Sales":"max"}).show()

+-------+----------+
|company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

### import funtions form pysprak

In [30]:
from pyspark.sql.functions import countDistinct, avg, stddev
# we can apply this function when we use data select within the select
# we can add elias inside this function

In [31]:
df.select(countDistinct("Sales").alias("Average Sales")).show()

+-------------+
|Average Sales|
+-------------+
|           11|
+-------------+

In [32]:
df.select(avg("Sales")).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [36]:
df.select(stddev("Sales")).show()
# the result is not really beautifull so let just format it  and i want to change the name columns

+------------------+
|stddev_samp(Sales)|
+------------------+
|250.08742410799007|
+------------------+

In [37]:
from pyspark.sql.functions import format_number

In [45]:
sales_std = df.select(stddev("Sales").alias("std")) # to fix the number now

In [48]:
sales_std.select(format_number("std",2).alias("final std")).show()

+---------+
|final std|
+---------+
|   250.09|
+---------+

### Order and Sort

In [49]:
df.orderBy("Sales").show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [51]:
df.orderBy(df["Sales"].desc()).show() # decroissant

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+